.videoContainer {
    text-align: center;
    margin-top: 20px;
  }
  
  .thumbnail {
    width: 100%;
    max-width: 500px;
    cursor: pointer;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.2s ease-in-out;
  }
  
  .thumbnail:hover {
    transform: scale(1.05);
  }
  